/* commenting on CSS */ 

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffcc;
}

blockquote {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  text-align: center;
}

cite {
  font-size: 1rem;
}

h1 {
  color: #1fcdcc;
}

img {
  border: 5px solid #2caa32;
}

a:link {
  color: brown;
  text-decoration: none;
}

a:visited {
  color: lightcoral;
}

a:focus {
  color: #1fcdcc;
}

a:hover {
  font-weight: bold;
}

a:active {
  opacity: 0.4;
}

#myid {
  color: violet;
}